<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 class="text-center">All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}"> No Upcoming Events!</p>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <th:block th:each="event : ${events}">
    <tr>
        <td th:text="${event.key}"></td>
        <td th:text="${event.value}"></td>
        <td th:replace="fragments :: address"></td>
    </tr>
    </th:block>
</table>

</body>
</html>